html {
  font-family: sans-serif;
}

body {
  min-width: 960px;
  width: 70%;
  margin: 0 auto;
}

header {
  background-color: lime;
  height: 100px;
}

footer {
  background-color: lime;
  height: 50px;
  padding: 0 2%;
}

main {
  padding: 2%;
}

h1 {
  margin: 0;
  font-size: 4em;
  text-align: center;
  line-height: 100px;
}

p {
  font-size: 1em;
  line-height: 1.5;
}

footer p {
  line-height: 50px;
}

@supports (flex-flow: row) and (flex: 1) {

  main {
    display: flex;
  }

  main div {
    padding-right: 4%;
    flex: 1;
  }

  main div:last-child {
    padding-right: 0;
  }

}

@supports not (flex-flow: row) and (flex: 1) {

  main div {
    width: 22%;
    float: left;
    padding-right: 4%;
  }

  main div:last-child {
    padding-right: 0;
  }

  footer {
    clear: left;
  }

}
