body {
    padding: 0;
    margin: 10px
}

svg:not(:root) {
    display: block
}

.playable-code {
    background-color: #f4f7f8;
    border: none;
    border-left: 6px solid #558abb;
    border-width: medium medium medium 6px;
    color: #4d4e53;
    height: 100px;
    width: 90%;
    padding: 10px 10px 0
}

.playable-canvas {
    border: 1px solid #4d4e53;
    border-radius: 2px
}

.playable-buttons {
    text-align: right;
    width: 90%;
    padding: 5px 10px 5px 26px
}

#canvas {
    border: 1px solid #000;
}

#log {
    border: 1px solid #ccc;
}