/* header、body 设置 */
html {
  font-family: 'Noto Sans SC', sans-serif;
  background: url(images/pattern.png);
}
body {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: white;
  position: relative;
}

/* 标题样式 */
header {
  height: 150px;
}
header img {
  width: 100px;
  position: absolute;
  right: 32.5px;
  top: 32.5px;
}
h1 {
  font-size: 50px;
  line-height: 140px;
  margin: 0 0 0 32.5px;
}

/* 主体区段和视频样式 */
main {
  background: #ccc;
}
article {
  padding: 20px;
}
h2 {
  margin-top: 0;
}
p {
  line-height: 2;
}
iframe {
  float: left;
  margin: 0 20px 20px 0;

  max-width: 100%;
}

/* 更多信息链接 */
.further-info {
  clear: left;
  padding: 40px 0;
  background: #c13832;
  box-shadow: inset 0 3px 2px rgba(0,0,0,0.5),
              inset 0 -3px 2px rgba(0,0,0,0.5);
}
.further-info a {
  width: 25%;
  display: block;
  float: left;
}
.further-info img {
  max-width: 100%;
}
.clearfix {
  clear: both;
}

/* 小熊猫图片 */
.red-panda img {
  display: block;
  max-width: 100%;
}