html {
  font-family: sans-serif;
  background: #ccc;
}

h1 {
  margin-top: 0;
  padding-top: 24px;
}

p {
  line-height: 1.5;
  letter-spacing: 1px;
}

body {
  background: white;
  padding: 10px;
  
  /* First bit of CSS from the article */
  width: 70%;
  max-width: 1280px;
  min-width: 480px;
  margin: 0 auto;
}