* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

.player {
  width: 480px;
  margin: 10px auto;
  border: 1px solid #ccc;
}

video, audio, .controls {
  width: 100%;
}

.controls {
  height: 36px;
}

button {
  display: block;
  float: left;
  border: 0;
  margin-right: 2px;
  height: 100%;
  width: 50px;
  cursor: pointer;
}

button:hover, button:focus {
  background-color: #ddd;
}

button:active {
  background-color: #ccc;
}

.controls div {
  font-size: 12px;
  display: inline-block;
  line-height: 36px;
  width: 45px;
  float: right;
}

video {
  margin-bottom: -5px;
}
