/* 通用设置 */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* 布局 */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* 页眉和页脚 */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* 在下方编写你的代码 */