/* General styles */

hr {
  width: 80%;
  margin: 50px auto;
}

/* Important example */

#important #winning {
  background-color: red;
  border: 1px solid black;
}

#important .better {
  background-color: gray;
  border: none !important;
}

#important p {
  color: white;
  background-color: blue;
  padding: 5px;
}

/* Selector weight example */

/* specificity: 0201; */
#weight #outer a {
  background-color: red;
}

/* specificity: 0301; */
#weight #outer #inner a {
  background-color: blue;
}

/* specificity: 0204; */
#weight #outer div ul li a {
  color: yellow;
}

/* specificity: 0213; */
#weight #outer div ul .nav a {
  color: white;
}

/* specificity: 0124; */
#weight div div li:nth-child(2) a:hover {
  border: 10px solid black;
}

/* specificity: 0123; */
#weight div li:nth-child(2) a:hover {
  border: 10px dashed black;
}

/* specificity: 0133; */
#weight div div .nav:nth-child(2) a:hover {
  border: 10px double black;
}

#weight a {
  display: inline-block;
  line-height: 40px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  width: 200px;
  margin-bottom: 10px;
}

#weight ul {
  padding: 0;
}

#weight li {
  list-style-type: none;
}

/* live sample styling */

#live #outer div ul .nav a {
  background-color: blue;
  padding: 5px;
  display: inline-block;
  margin-bottom: 10px;
}

#live div div li a {
color: yellow;
}

#live #outer #inner a {
  background-color: initial;
  color: red;
}
