.fx {
    -webkit-display: flex;
    display: flex;
    margin-left: -20px;
    margin-right: -20px;
  }
  
  .fx > div {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .fx > div:first-child {
     width: 30%;
  }
  
  .flex {
    -webkit-flex: 1;
    flex: 1;
  }
  
  #test-target {
    display: block;
    width: 100%;
    margin-bottom: 10px; 
  }