/* General setup */

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h1, h2 {
  font-family: 'Lobster', cursive;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
  letter-spacing: 0.1rem;
  font-family: 'Raleway', sans-serif;
}