html {
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  max-width: 800px;
}

header, footer {
  background-color: green;
  color: white;
  line-height: 100px;
  padding: 0 20px;
}

article {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid black;
  background-color: #eee;
}

h2 {
  margin: 10px 0;
}

video {
  margin: 0 auto;
  border: 1px solid black;
  display: block;
}

button {
  display: block;
  margin-top: 10px;
}
