/* General styles */

body {
  margin: 0;
}

body > * {
  padding: 10px;
  font-size: 20px;
  border: 20px solid rgba(0,0,0,0.5);
}

/* specific boxes */

header, footer {
  background-color: blue;
  color: white;
}

main {
  background-color: yellow;
}

header {

}

footer {

}

