html, body {
  margin: 0;
  padding: 0;
}

h1 {
  margin-top: 0;
}

body {
  padding: 1em;
}

html {
  background-color: yellow;
  font-family: sans-serif;
}

body {
  height: 2000px;
}

p {
  padding: 10px;
  color: white;
  background: rgba(0,0,0,0.3);
}

section {
  display: flex;
}

article {
  flex: 1;
  height: 400px;
  background-color: rgba(0,0,0,0.5);
  background-image: url(bgtile.png);
  padding: 1%;
  overflow: auto;
}

article pre {
  height: 800px;
}

.fixed, .scroll {
  margin-right: 1%;
}

.fixed {
  background-attachment: fixed;
}

.scroll {
  background-attachment: scroll;
}

.local {
  background-attachment: local;
}

footer {
  clear: both;
}