/* 字体导入，由 transfonter.org 生成 */

@font-face {
    font-family: 'ciclefina';
    src: url('fonts/cicle_fina-webfont.woff2') format('woff2'),
         url('fonts/cicle_fina-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'zantrokeregular';
  src: url('fonts/zantroke-webfont.woff2') format('woff2'),
       url('fonts/zantroke-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* 通用设置 */

html {
  font-size: 10px;
  margin: 0;
  font-family: sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* 排版 */

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h1,h2 {
  font-family: 'zantrokeregular', serif;
  letter-spacing: 0.2rem;
}

p {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.1rem;
  word-spacing: 0.3rem;
  font-family: 'ciclefina', sans-serif;
}
